<header>
  <div class="header">
    <div class="header-left-panel">
      <div class="logo-wrap">
        <div class="logo">
          <h2>COOK TOGETHER, SHARE FOREVER</h2>
          <h1>SHARED COOKBOOK</h1>
        </div>
      </div>
    </div>
    <div class="header-right-panel">
      <div class="header-right-panel-top">
        <p>Call Us : 000 888 8888</p>
        <p><a href="#">Mail Us : info&#64;cookbook.com</a></p>
      </div>

      <div class="menu">
        <ul>
          <li class="marRight20">
            <a class="active" href="/">home</a>
          </li>
          <li class="marRight20"><a href="recipes">recipes</a></li>
          <li><a href="create-recipe">Create recipe</a></li>
          <li class="marRight20"><a href="login">Login</a></li>
          <li class="marRight20"><a href="register">Register</a></li>
          <li><a href="my-recipes">My recipes</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
