<div class="container">
  <div class="cardWrapper">
    <div class="card">
      <img
        [src]="recipe().imageURL"
        [alt]="recipe().recipeName"
        class="image"
      />
      <div class="details">
        <div class="title">
          <h3>{{ recipe().recipeType }}</h3>
          <h1 class="borderBottom">{{ recipe().recipeName }}</h1>
        </div>
        <div class="content">
          <h2>Description</h2>
          <p>
            {{ recipe().description }}
          </p>
          <div class="border"></div>
          <h2>Preparation Time</h2>
          <p>{{ recipe().preparationTime }}min.</p>
          <div class="border"></div>
          <h2>Ingredients</h2>
          <p>
            {{ recipe().ingredients }}
          </p>
          <div class="border"></div>
          <h2>Preparation Instructions</h2>
          <p>
            {{ recipe().instructions }}
          </p>
          <div class="buttonContainer">
            <a
              href="/recipes/59c16686-08b2-4b45-8a8a-0ccf702e1056/edit"
              class="button"
              >Edit</a
            >
            <button class="button">Delete</button>
          </div>
        </div>
        <!-- <Comment></Comment> -->
      </div>
    </div>
  </div>
</div>
