<div class="panel-wrapper">
  @if(isFetching() && !error()){
  <app-loader />

  } @if (recipes().length === 0) {
  <p class="fallback-text">Unfortunately, no recipes could be found.</p>
  } @if(recipes()) {
  <ul class="container">
    @for (recipe of recipes(); track recipe._id) {
    <li class="cardWrapper">
      <div class="card">
        <img [src]="recipe.imageURL" [alt]="recipe.recipeName" class="image" />
      </div>
      <div class="title">
        <h1 class="">{{ recipe.recipeName }}</h1>
        <h5>{{ recipe.recipeType }}</h5>
        <div class="border"></div>
        <div class="content">
          <p>
            {{ recipe.description }}
            <br />
          </p>
          <div class="button-link">
            <a [routerLink]="['/recipe', recipe._id]">details</a>
          </div>
        </div>
      </div>
    </li>
    }
  </ul>
  }
</div>
