@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script:wght@400..700&display=swap");

.panel-wrapper {
  width: 100%;
  min-height: 68vh;
  max-width: 1560px;
  margin: 0 auto;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  box-sizing: border-box;
}
.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  color: #f3f3ee;
  min-height: 60vh;
  text-align: center;
  box-sizing: border-box;
}

.hero-content {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  color: #cf9359;
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-family: "Dancing Script", cursive;
  color: #f3f3ee;
}

.hero-content h3 {
  font-size: 2rem;
  font-family: "Dancing Script", cursive;
}

.hero-image img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
  }

  .hero-content,
  .hero-image {
    max-width: 100%;
  }

  .hero-content h1 {
    font-size: 2.5rem;
  }

  .hero-content h3 {
    font-size: 1.5rem;
  }
}
